template(name="adminPostUpdate")
	form.ui.form(method="post")
		input(type="hidden",name="_id")
		.field
			label Title
			input(name="title")
		.field
			label Slug
			input(name="slug")
		.field
			label Text
			textarea(name="body")
		.field
			button.ui.button.blue Save
