template(name="adminPosts")
	.ui.grid
		.two.wide.column
			.ui.fluid.vertical.menu
				a.item(href="/admin/posts/insert") Novo Post
		.fourteen.wide.column
			if posts
				table.ui.table
					thead
						tr
							th.two.wide &nbsp;
							th Title
					tbody
						each posts
							tr
								td
									a.ui.blue.icon.button.small(href="/admin/posts/#{_id}")
										i.icon.edit
									.ui.red.icon.button.small.remove
										i.icon.trash
								td #{title}
				+removeModal
			else
				.ui.orange.segment
					p Não foi encontrado nenhum Post.
