template(name="adminPages")
	table.ui.table
		thead
			tr
				th.two.wide &nbsp;
				th Title
		tbody
			each pages
				tr
					td
						a.ui.blue.icon.button.small(href="/admin/pages/#{_id}")
							i.icon.edit
						.ui.red.icon.button.small.remove
							i.icon.trash
					td #{title}
	+removeModal
