template(name="adminMenu")
		.ui.vertical.left.sidebar.inverted.menu
			.item Ada Digital
			a.item(href="/admin") Home
			a.item(href="/admin/posts") Posts
			.menu
				a.item(href="/admin/posts/insert") Novo
			a.item(href="/admin/pages") Páginas
			a.item(href="/admin/images") Imagens
		
