template(name="removeModal")
	.ui.small.modal
		.header Confirmação
		.content Você tem certeza que deseja remover este item ?
		.actions
			.ui.negative.animated.fade.button
				.visible.content Não
				.hidden.content
					i.close.icon
			.ui.positive.animated.fade.button
				.visible.content Sim
				.hidden.content
					i.checkmark.icon
	
