template(name="adminLayout")
  +Template.dynamic template=left
  .ui.black.big.launch.right.attached.fixed.button
    i.content.icon
    span.text Menu
  .pusher
    .ui.container
      +Template.dynamic template=main
