template(name="root")
	.ui.grid
		.six.wide.column
			.ui.basic.segment(style="background-color:rgba(255,255,255,.5)")
				.ui.label.top.attached.blue Últimas Notícias
				.ui.selection.animated.list
					.item
						a.header Notícia 1
						.description asdfasdfasdf asdfasdf
					.item
						a.header Notícia 2
						.description asdfasdfasdf asdfasdf
					.item
						a.header Notícia 3
						.description asdfasdfasdf asdfasdf
		.ten.wide.column
			.ui.basic.segment(style="background-color:rgba(255,255,255,.5)")
				.ui.label.top.attached.green Últimas Notícias
				.ui.selection.list
					each posts
						.item
							.image
								img.ui.image.rounded(src="http://lorempixel.com/100/100")
							.content
								a.header(href="/blog/#{slug}") #{title}
								.description !{body}
