template(name="single")
	.ui.blue.segment
		.ui.label.top.attached #{post.title}
		p #{post.body}
		p
			a.ui.blue.button(href="/") Voltar
	if comments
		form.ui.form
			input(name="postId",type="hidden",value="#{post._id}")
			.field
				input(name="author",placeholder="Author")
			.field
				textarea(name="text",placeholder="Your Comment")
			.field
				button.ui.button.blue#addComment(type="button") Save Comment
	if comments
		.ui.green.segment
			.ui.comments
				h3.ui.dividing.header Comments
				each comments
					.comment
						.content
							a.author #{author}
							.metadata
								span.date #{date}
							.text #{text}
