template(name="blogLayout")
  .ui.grid.container
    .sixteen.wide.column
      +Template.dynamic template=banner
    .four.wide.column
      .ui.menu.vertical.fluid
        .item Home
        .item Cidades
        .item Política
    .twelve.wide.column
      +Template.dynamic template=main
